//! **************************************************************************
// Written by: Map P.49d on Fri Jan 11 14:17:24 2019
//! **************************************************************************

SCHEMATIC START;
COMP "LB" LOCATE = SITE "A7" LEVEL 1;
COMP "HS" LOCATE = SITE "J14" LEVEL 1;
COMP "RB" LOCATE = SITE "C11" LEVEL 1;
COMP "UB" LOCATE = SITE "M4" LEVEL 1;
COMP "VS" LOCATE = SITE "K13" LEVEL 1;
COMP "clk" LOCATE = SITE "M6" LEVEL 1;
COMP "sw0" LOCATE = SITE "P11" LEVEL 1;
COMP "sw1" LOCATE = SITE "L3" LEVEL 1;
COMP "reset" LOCATE = SITE "G12" LEVEL 1;
COMP "RGB<0>" LOCATE = SITE "H13" LEVEL 1;
COMP "RGB<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "RGB<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "RGB<3>" LOCATE = SITE "G13" LEVEL 1;
COMP "RGB<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "RGB<5>" LOCATE = SITE "C14" LEVEL 1;
COMP "RGB<6>" LOCATE = SITE "D13" LEVEL 1;
COMP "RGB<7>" LOCATE = SITE "F13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

